In [4]:
import pymysql
import pandas as pd

https://data.buenosaires.gob.ar/dataset/oferta-establecimientos-gastronomicos

In [5]:
url = 'https://cdn.buenosaires.gob.ar/datosabiertos/datasets/ente-de-turismo/oferta-establecimientos-gastronomicos/oferta_gastronomica.csv'

In [22]:
oferta_gastronomica = pd.read_csv(url)

In [23]:
oferta_gastronomica.head()

,long,lat,id,nombre,categoria,cocina,ambientacion,telefono,mail,horario,calle_nombre,calle_altura,calle_cruce,direccion_completa,barrio,comuna,codigo_postal,codigo_postal_argentino
0,-58.363307,-34.622963,1602,GUANTANAMERA,RESTAURANTE,CUBANA,MODERNO,4314 0770,NaN,NaN,MOREAU DE JUSTO ALICIA,2092,NaN,"MOREAU DE JUSTO, ALICIA AV. 2092",Puerto Madero,Comuna 1,1107.0,C1107AFP
1,-58.392330,-34.621554,676,1843 VINACOTECA,VINERIA,NaN,NaN,4779 0806,NaN,lunes a domingo de 8 a 00,HUMBERTO 1º,1843,NaN,HUMBERTO 1º 1843,San Cristobal,Comuna 3,NaN,NaN
2,-58.453542,-34.560311,487,2080 EXPRESS,RESTAURANTE,TRADICIONAL,CLASICO PORTEÑO,4788 4500,NaN,lunes a domingo de 8 a 00,JURAMENTO,2080,NaN,JURAMENTO AV. 2080,Belgrano,Comuna 13,1428.0,C1428DNH
3,-58.475491,-34.677051,2737,22,CAFE,MINUTAS,MODERNO,NaN,NaN,NaN,MURGUIONDO,4188,NaN,MURGUIONDO 4188,Villa Lugano,Comuna 8,1439.0,C1439FTB
4,-58.425437,-34.585695,2,4 EN 2 I,RESTAURANTE,NaN,NaN,4832 9510,NaN,NaN,BORGES JORGE LUIS,2095,NaN,"BORGES, JORGE LUIS 2095",Palermo,Comuna 14,1425.0,C1425FFA

In [24]:
oferta_gastronomica.shape

(2823, 18)

Crear una tabla con los siguientes campos: 

- id_local, 
- nombre, 
- categoria, 
- direccion, 
- barrio, 
- comuna

para posteriormente poblarla con los datos bajados, utilzando el conector desde el script de Python.

In [26]:
oferta_gastronomica.columns

Index(['long', 'lat', 'id', 'nombre', 'categoria', 'cocina', 'ambientacion',
       'telefono', 'mail', 'horario', 'calle_nombre', 'calle_altura',
       'calle_cruce', 'direccion_completa', 'barrio', 'comuna',
       'codigo_postal', 'codigo_postal_argentino'],
      dtype='object')

In [27]:
columnas = ['id', 'nombre', 'categoria', 'direccion_completa', 'barrio', 'comuna']

In [28]:
oferta_gastronomica = oferta_gastronomica[columnas]

In [29]:
oferta_gastronomica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  2823 non-null   int64
 1   nombre              2823 non-null   object
 2   categoria           2707 non-null   object
 3   direccion_completa  2822 non-null   object
 4   barrio              2823 non-null   object
 5   comuna              2823 non-null   object
dtypes: int64(1), object(5)
memory usage: 132.5+ KB

In [30]:
oferta_gastronomica

,id,nombre,categoria,direccion_completa,barrio,comuna
0,1602,GUANTANAMERA,RESTAURANTE,"MOREAU DE JUSTO, ALICIA AV. 2092",Puerto Madero,Comuna 1
1,676,1843 VINACOTECA,VINERIA,HUMBERTO 1º 1843,San Cristobal,Comuna 3
2,487,2080 EXPRESS,RESTAURANTE,JURAMENTO AV. 2080,Belgrano,Comuna 13
3,2737,22,CAFE,MURGUIONDO 4188,Villa Lugano,Comuna 8
4,2,4 EN 2 I,RESTAURANTE,"BORGES, JORGE LUIS 2095",Palermo,Comuna 14
...,...,...,...,...,...,...
2818,893,ZOE PIZZA & CAFE,RESTAURANTE,AZCUENAGA 796,Balvanera,Comuna 3
2819,2546,ZOMBI,RESTAURANTE,URUGUAY 142,San Nicolas,Comuna 1
2820,1521,ZONA,RESTAURANTE,11 DE SEPTIEMBRE DE 1888 3900,NuÃƒÂ±ez,Comuna 13
2821,894,ZOO BAR,RESTAURANTE,TUCUMAN 2002,Balvanera,Comuna 3
2822,2854,Angelito,BAR,NaN,Villa Crespo,Comuna 15

In [35]:
type(oferta_gastronomica.loc[oferta_gastronomica['categoria'].isna()]['categoria'][8])

float

In [37]:
oferta_gastronomica.fillna('', inplace=True)

In [38]:
oferta_gastronomica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  2823 non-null   int64
 1   nombre              2823 non-null   object
 2   categoria           2823 non-null   object
 3   direccion_completa  2823 non-null   object
 4   barrio              2823 non-null   object
 5   comuna              2823 non-null   object
dtypes: int64(1), object(5)
memory usage: 132.5+ KB

# Conexión a la base de datos

In [39]:
conexion = pymysql.connect(
    host='localhost',
    user='mariano',
    password='1234'
)

In [41]:
cursor = conexion.cursor()

In [42]:
cursor

In [43]:
crear_bd = 'create database if not exists locales'

In [44]:
cursor.execute(crear_bd)

1

In [46]:
cursor.execute('use locales')

0

In [47]:
crear_tabla = """
create table if not exists oferta_gastronomica
(
id int not null,
nombre varchar(50),
categoria varchar(50),
direccion varchar(50),
barrio varchar(50),
comuna varchar(50),
primary key (id)
)
"""

In [48]:
cursor.execute(crear_tabla)

0

In [49]:
conexion.commit()

In [55]:
insertar_datos = """
INSERT INTO oferta_gastronomica (id, nombre, categoria, direccion, barrio, comuna)
VALUES (%s, %s, %s, %s, %s, %s)
"""

In [68]:
tuplas = oferta_gastronomica.values.tolist()

In [72]:
type(oferta_gastronomica.values.tolist())

list

In [ ]:
cursor.executemany(insertar_datos, tuplas)

In [67]:
conexion.commit()

A partir de tener los datos disponibles, responder a las siguientes preguntas: 

a) ¿Cuál es el barrio con mayor cantidad de Pubs?

In [73]:
cantidad_pubs = """
select 
barrio,
count(categoria)
from oferta_gastronomica
where categoria = 'PUB'
group by barrio
order by count(categoria) desc
limit 1;
"""

In [92]:
cursor.execute(cantidad_pubs)

1

In [93]:
cantidad = cursor.fetchone()

In [94]:
cantidad

('Recoleta', 8)

b) Obtener la cantidad de locales por categoría

In [95]:
cantidad_categoria = """
select 
categoria,
count(categoria)
from oferta_gastronomica
group by categoria
order by count(categoria) desc;
"""

In [96]:
cursor.execute(cantidad_categoria)

9

In [97]:
cursor.fetchall()

(('RESTAURANTE', 1990),
 ('CAFE', 334),
 ('BAR', 247),
 ('', 116),
 ('CONFITERIA', 55),
 ('PUB', 53),
 ('VINERIA', 22),
 ('SANDWICHERIA', 4),
 ('DELIVERY & TAKE AWAY', 2))

c) Obtener la cantidad de restaurantes por comuna

In [98]:
restaurantes_por_comuna = """
select
comuna,
count(categoria)
from oferta_gastronomica
where categoria = 'RESTAURANTE'
group by comuna
order by count(categoria) desc;
"""

In [99]:
cursor.execute(restaurantes_por_comuna)

15

In [100]:
cursor.fetchall()

(('Comuna 1', 609),
 ('Comuna 14', 366),
 ('Comuna 2', 227),
 ('Comuna 3', 145),
 ('Comuna 13', 108),
 ('Comuna 4', 95),
 ('Comuna 6', 87),
 ('Comuna 7', 64),
 ('Comuna 15', 57),
 ('Comuna 5', 56),
 ('Comuna 9', 52),
 ('Comuna 10', 43),
 ('Comuna 12', 42),
 ('Comuna 11', 33),
 ('Comuna 8', 6))

In [ ]:
oferta_gastronomica.to_sql()