# Homework

Utilizando Python cálcular las siguientes probabilidades. Para cada uno intenta determinar que método aplicaste.

1. Lanza una moneda al aire 10 veces, ¿cuantos resultados posibles forman parte del espacio muestral?.

In [8]:
import math
import numpy as np
import pandas as pd

In [9]:
moneda = ['H', 'T']

In [10]:
cantidad_de_monedad = 10

In [11]:
def resultados_posibles(moneda, cantidad):
    return len(moneda)**cantidad

In [12]:
 resultados_posibles(moneda, cantidad_de_monedad)

1024

2. En un aeropuerto se tiene a 10 pasajeros esperando en la sala de preembarque, la polícia debe controlar a 3 de ellos. ¿Cuantas combinaciones posibles se pueden obtener?.

In [13]:
personas_en_la_fila = 10

In [14]:
personas_a_controlar = 3

In [15]:
def combinaciones(N, k):
    return math.factorial(N) // (math.factorial(k) * math.factorial(N - k))

In [16]:
combinaciones(N=personas_en_la_fila, k=personas_a_controlar)

120

3. La Agencia Nacional de Seguridad Vial realizó una investigación para saber si los conductores de están usando sus cinturones de seguridad. Los datos muestrales fueron los siguientes:
Conductores que emplean el cinturón
![Ejercicio](img/ejercicio3.png)

    a) ¿Qué metodo cree que se utilizo para asignar probabilidades?.

Frecuentista

b) Construya un cuadro similar, pero con la asignación de probabilidades.

In [17]:
df_dict = {
    'Región': ['Norte', 'Noreste', 'Sur', 'Centro'],
    'Sí': [148, 162, 296, 252],
    'No': [52, 54, 74, 48]
}

In [18]:
df = pd.DataFrame(df_dict)

In [19]:
df

    Región   Sí  No
0    Norte  148  52
1  Noreste  162  54
2      Sur  296  74
3   Centro  252  48

In [20]:
def probabilidades(df):
    total = df['Sí'].sum() + df['No'].sum()
    df['prob_sí'] = df['Sí'] / total
    df['prob_no'] = df['No'] / total
    return df

In [24]:
df = probabilidades(df)

In [25]:
df

    Región   Sí  No   prob_sí   prob_no
0    Norte  148  52  0.136280  0.047882
1  Noreste  162  54  0.149171  0.049724
2      Sur  296  74  0.272560  0.068140
3   Centro  252  48  0.232044  0.044199

In [23]:
df[['prob_sí', 'prob_no']].sum()

prob_sí    0.790055
prob_no    0.209945
dtype: float64

In [26]:
np.sum(np.array(df[['prob_sí', 'prob_no']]))

1.0

In [27]:
np.array(df[['prob_sí', 'prob_no']])

array([[0.13627993, 0.04788214],
       [0.14917127, 0.04972376],
       [0.27255985, 0.06813996],
       [0.2320442 , 0.0441989 ]])

c) ¿Cuál sería el mejor método pára estimar la probabilidad de que en Estados Unidos un conductor lleve puesto el cinturón?.

Frecuentista

d) Un año antes, la probabilidad en Argentina de que un conductor llevara puesto el cinturón era 0.75. El director de ANSV, se esperaba que la probabilidad llegara a 0.78. ¿Estará satisfecho con los resultados del estudio? (Utilizar tabla adjunta ![Ejercicio](img/ejercicio3.png)

In [29]:
df['prob_sí'].sum() # sí, está satisfecho

0.7900552486187845

e) ¿Cuál es la probabilidad de que se use el cinturón en las distintas regiones del país? ¿En qué región se usa más el cinturón?(Utilizar misma tabla que el ejercicio anterior).

In [32]:
df

    Región   Sí  No   prob_sí   prob_no
0    Norte  148  52  0.136280  0.047882
1  Noreste  162  54  0.149171  0.049724
2      Sur  296  74  0.272560  0.068140
3   Centro  252  48  0.232044  0.044199

In [33]:
total = df['Sí'].sum() + df['No'].sum()

In [36]:
df['Total por region'] = df['Sí'] + df['No']

In [38]:
df['Sí por región'] = df['Sí'] / df['Total por region']

In [41]:
df['No por región'] = df['No'] / df['Total por region']

In [42]:
df

,Región,Sí,No,prob_sí,prob_no,Total por region,Sí por región,No por región
0,Norte,148,52,0.136280,0.047882,200,0.74,0.26
1,Noreste,162,54,0.149171,0.049724,216,0.75,0.25
2,Sur,296,74,0.272560,0.068140,370,0.80,0.20
3,Centro,252,48,0.232044,0.044199,300,0.84,0.16

In [43]:
df['Total por region'].sum()

1086

4. Crear una funcion que permita calcular a probabilidad de los siguientes eventos en un baraja de 52 cartas.
    - Obtener una carta roja.
    - Obtener una carta negra.
    - Obtener una pica.
    - Obtener un trébol.
    - Obtener un corazón.
    - Obtener un diamante.

In [2]:
valores = ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [3]:
palos = ['trébol', 'pica', 'diamante', 'corazón']

In [5]:
mazo  = [(i, j, 'rojo') if j in ['corazón', 'diamante'] else (i, j, 'negro') for j in palos for i in valores]

In [7]:
colores = ['negro', 'rojo']

In [46]:
def prob_cartas(valor=None, palo=None, color=None):
    valores = ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']
    palos = ['trébol', 'pica', 'diamante', 'corazón']
    mazo  = [(i, j, 'rojo') if j in ['corazón', 'diamante'] else (i, j, 'negro') for j in palos for i in valores]
    colores = ['negro', 'rojo']
    prob = 1
    
    if valor in valores:
        frecuencia = sum([i[0].count(valor) for i in mazo])
        prob *= frecuencia / len(mazo)
    if palo in palos:
        frecuencia = sum([i[1].count(palo) for i in mazo])
        prob *= frecuencia / len(mazo)
    if color in colores:
        frecuencia = sum([i[2].count(color) for i in mazo])
        prob *= frecuencia / len(mazo)
    return prob

In [48]:
prob_cartas(color='rojo')

0.5

In [50]:
prob_cartas(color='negro')

0.5

In [51]:
prob_cartas(palo='pica')

0.25

In [52]:
prob_cartas(palo='trébol')

0.25

In [53]:
prob_cartas(palo='corazón')

0.25

In [55]:
prob_cartas(palo='diamante')

0.25

5. La probabilidad de que salga un 7 o un 8 al seleccionar una carta de una baraja de las 52 cartas que contiene el mazo.

In [56]:
prob_cartas(valor='7')

0.07692307692307693

In [58]:
prob_cartas(valor='8')

0.07692307692307693

In [59]:
prob_cartas(valor='7') + prob_cartas(valor='8')

0.15384615384615385

6. La probabilidad de que tu país gane el mundial de fútbol.

Ni idea

7. Un experimento que tiene tres resultados es repetido 50 veces y se ve que E1 aparece 20 veces, E2 13 veces y E3 17 veces. Asigne probabilidades a los resultados.

In [60]:
e1 = 20
e2 = 13
e3 = 17

total = 50

In [61]:
e1/total

0.4

In [62]:
e2/total

0.26

In [63]:
e3/total

0.34


## Desafíos complementarios

### Investiga e intenta resolver los siguientes ejercicios

Si la probabilidad de que un cliente pague en efectivo (E) es 6/15, con tarjeta de crédito (TC) es 7/15 y con tarjeta de débito (TD) es 2/15. Hallar la probabilidad de que dos clientes sucesivos que pagan sus cuentas lo hagan:

a) el primero en efectivo y el segundo con tarjeta de crédito.

In [64]:
e = 6/15
c = 7/15
d = 2/15

In [66]:
e

0.4

In [67]:
c

0.4666666666666667

In [68]:
e * c

0.18666666666666668

b) Los dos clientes en efectivo

In [69]:
e * e

0.16000000000000003

La probabilidad de que un Henry repruebe el M1 de 0.8, de que apruebe M2 es 0.5 y de que repruebe el M3 es de 0.4.
(Los eventos no interfieren entre si)

![Tabla](img/probhenry.png)

Determinar la probabilidad de que:

a) Apruebe un módulo.

In [70]:
0.44

0.44

b) Repruebe las tres materias.

In [71]:
0.16

0.16