In [6]:
#1
nro_tiros = int(input("¿Cuántas veces se va a tirar la moneda: "))
resultados = 2 ** nro_tiros
print("Los resultados posibles son:", resultados)

Los resultados posibles son: 1024

In [7]:
#2
from math import factorial
#Combinación
control_aeropuerto = factorial(10) / (factorial(3) * factorial(10-3))
print(control_aeropuerto)
#Permutación
control_aeropuerto = factorial(10) / factorial(10-3)
print(control_aeropuerto)
#abc   bac   cab
#acb   bca   cba

120.0
720.0

In [8]:
#Bonus track
#impares = list(range(1, 100, 2))
#edades = {'Ana': 33, 'Roberto': 23}                                        
edades = dict(Ana = 33, Roberto = 23)
edades

{'Ana': 33, 'Roberto': 23}

In [17]:
#3
# Se usó el método frecuentista
import pandas as pd
regiones = ['Norte','Noreste','Sur','Centro']
valores_si = [148, 162, 296, 252]
valores_no = [52, 54, 74, 48]
datos = dict(Si = valores_si, No = valores_no)
cuadro = pd.DataFrame(datos, index=regiones)

cuadro = cuadro / (sum(cuadro.sum()))
print((cuadro.sum()))
print((sum(cuadro.sum())))
cuadro
cuadro.loc['total'] = sum(cuadro.Si), sum(cuadro.No)
cuadro
cuadro['si+no']=cuadro['Si'] + cuadro['No']
#cuadro = cuadro.assign(Total = cuadro.Si + cuadro.No)
 
cuadro

# El director está satisfecho porque la probabilidad de que sí se us el cinturón es de 0.79
# Se usa más en la región sur, con probabilidad 0.27

Si    0.790055
No    0.209945
dtype: float64
1.0

               Si        No     si+no
Norte    0.136280  0.047882  0.184162
Noreste  0.149171  0.049724  0.198895
Sur      0.272560  0.068140  0.340700
Centro   0.232044  0.044199  0.276243
total    0.790055  0.209945  1.000000

In [5]:
#4
def probabilidadNaipes(categoria):
   cartas_totales = 52
   cartas_color = 26
   cartas_palo = 13
   if categoria == 'rojo' or categoria == 'negro':
      return cartas_color / cartas_totales
   elif categoria in ('pica', 'trebol', 'corazon', 'diamante'):
      return cartas_palo / cartas_totales

#probabilidadNaipes('rojo')
probabilidadNaipes('pica')

0.25

In [ ]:
#5
4/52 + 4/52

In [ ]:
#6
1/32
# No es el modelo equiprobable

In [ ]:
#7
E1 = 20
E2 = 13
E3 = 17
total = 50
print(E1 / 50, E2 / 50, E3 / 50)