In [13]:
from scipy.special import comb
from scipy.special import perm
from math import factorial
import pandas as pd

## Homework

Utilizando Python cálcular las siguientes probabilidades. Para cada uno intenta determinar que método aplicaste.<br>

1. Lanza una moneda al aire 10 veces, ¿cuantos resultados posibles forman parte del espacio muestral?.

In [14]:
2**10

1024

In [15]:
int(comb(2,1)**10)

1024

2. En un aeropuerto se tiene a 10 pasajeros esperando en la sala de preembarque, la polícia debe controlar a 3 de ellos. ¿Cuantas combinaciones posibles se pueden obtener?.

In [16]:
comb(10,3)

120.0

In [17]:
#Combinaciones de 10 tomadas de a 3
m=10
n=3
factorial(m)/(factorial(m-n)*factorial(n))

120.0

3. La Agencia Nacional de Seguridad Vial realizó una investigación para saber si los conductores de están usando sus cinturones de seguridad. Los datos muestrales fueron los siguientes:<br>
Conductores que emplean el cinturón

![Ejercicio](../_src/assets/ejercicio3.PNG)

In [18]:
region=['Norte', 'Noreste', 'Sur', 'Centro']
si=[148,162,296,252]
no=[52,54,74,48]


dicc={'Si': si, 'No': no}
df=pd.DataFrame(dicc, index=region)
df

          Si  No
Norte    148  52
Noreste  162  54
Sur      296  74
Centro   252  48

- a) ¿Qué metodo cree que se utilizo para asignar probabilidades?.

In [19]:
# metodo frecuentista

- b) Construya un cuadro similar, pero con la asignación de probabilidades.

In [20]:

df_porcentual = round(df*100 / (sum(df.sum())),2)
# print((df.sum()))
# print((sum(df.sum())))

df_porcentual.loc['Total'] = sum(df_porcentual['Si']), sum(df_porcentual['No'])

df_porcentual['todos']=df_porcentual['Si'] + df_porcentual['No']
df_porcentual

            Si     No   todos
Norte    13.63   4.79   18.42
Noreste  14.92   4.97   19.89
Sur      27.26   6.81   34.07
Centro   23.20   4.42   27.62
Total    79.01  20.99  100.00

- c) ¿Cuál sería el mejor método pára estimar la probabilidad de que en Estados Unidos un conductor lleve puesto el cinturón?.

- d) Un año antes, la probabilidad en Argentina de que un conductor llevara puesto el cinturón era 0.75. El director de ANSV, se esperaba que la probabilidad llegara a 0.78. ¿Estará satisfecho con los resultados del estudio?

In [ ]:
#si esta feliz porque 79>78

- e) ¿Cuál es la probabilidad de que se use el cinturón en las distintas regiones del país? ¿En qué región se usa más el cinturón?(Utilizar misma tabla que el ejercicio anterior).

In [21]:
df_porcentual['Si'], df_porcentual['No'] = round(100*df_porcentual['Si']/df_porcentual['todos'],2), round(100*df_porcentual['No']/df_porcentual['todos'],2)
df_porcentual

            Si     No   todos
Norte    74.00  26.00   18.42
Noreste  75.01  24.99   19.89
Sur      80.01  19.99   34.07
Centro   84.00  16.00   27.62
Total    79.01  20.99  100.00

In [22]:
df_porcentual.drop('todos', axis=1)

            Si     No
Norte    74.00  26.00
Noreste  75.01  24.99
Sur      80.01  19.99
Centro   84.00  16.00
Total    79.01  20.99

In [24]:
import pandas as pd
regiones = pd.Series(['Norte','Noreste','Sur','Centro'])
val_si = {'si':[148, 162, 296, 252]}
val_no = {'no':[52, 54, 74, 48]}
cuadro = pd.DataFrame({**val_si,**val_no}).set_index(regiones)

def porc(row, col):
    return row[col]/row['total']

cuadro['total'] = cuadro.sum(axis=1)
cuadro['porcentaje SI'] = cuadro.apply(porc, args=('si',), axis=1)
cuadro['porcentaje NO'] = cuadro.apply(porc, args=('no',), axis=1)

cuadro

          si  no  total  porcentaje SI  porcentaje NO
Norte    148  52    200           0.74           0.26
Noreste  162  54    216           0.75           0.25
Sur      296  74    370           0.80           0.20
Centro   252  48    300           0.84           0.16

4. Crear una funcion que permita calcular a probabilidad de los siguientes eventos en un baraja de 52 cartas.<br>
- Obtener una carta roja.<br>
- Obtener una carta negra.<br>
- Obtener una pica.<br>
- Obtener un trébol.<br>
- Obtener un corazón.<br>
- Obtener un diamante.<br>

In [26]:
def naipes(cp):
    probabilidad=cp*100/52
    return round(probabilidad,2)

print(f"la probabilidad es: {naipes(26)} porciento")
print(f"la probabilidad es: {naipes(26)} porciento")
print(f"la probabilidad es: {naipes(13)} porciento")
print(f"la probabilidad es: {naipes(13)} porciento")

la probabilidad es: 50.0 porciento
la probabilidad es: 50.0 porciento
la probabilidad es: 25.0 porciento
la probabilidad es: 25.0 porciento

5. La probabilidad de que salga un 7 o un 8 al seleccionar una carta de una baraja de las 52 cartas que contiene el mazo. <br>
6. La probabilidad de tu país gane el mundial de fútbol.<br>
7. Un experimento que tiene tres resultados es repetido 50 veces y se ve que E1 aparece 20 veces, E2 13 veces y E3 17 veces. Asigne probabilidades a los resultados.<br>

In [27]:
print(f"la probabilidad es: {naipes(4+4)} porciento")

la probabilidad es: 15.38 porciento