In [5]:
from scipy.special import comb
from scipy.special import perm
from math import factorial
import pandas as pd

![Ejercicio](../_src/assets/cuadro.PNG)

## Homework

Utilizando Python cálcular las siguientes probabilidades. Para cada uno intenta determinar que método aplicaste.<br>

1. Lanza una moneda al aire 10 veces, ¿cuantos resultados posibles forman parte del espacio muestral?.

In [6]:
2**10

1024

In [7]:
int(comb(2, 1) ** 10)

1024

2. En un aeropuerto se tiene a 10 pasajeros esperando en la sala de preembarque, la polícia debe controlar a 3 de ellos. ¿Cuantas combinaciones posibles se pueden obtener?.

In [8]:
comb(10, 3)

120.0

In [9]:
# Combinaciones de 10 tomadas de a 3
m = 10
n = 3
factorial(m) / (factorial(m - n) * factorial(n))

120.0

3. La Agencia Nacional de Seguridad Vial realizó una investigación para saber si los conductores de están usando sus cinturones de seguridad. Los datos muestrales fueron los siguientes:<br>
Conductores que emplean el cinturón

![Ejercicio](../_src/assets/ejercicio3.PNG)

In [10]:
region = ["Norte", "Noreste", "Sur", "Centro"]
si = [148, 162, 296, 252]
no = [52, 54, 74, 48]


dicc = {"Si": si, "No": no}
df = pd.DataFrame(dicc, index=region)
df

          Si  No
Norte    148  52
Noreste  162  54
Sur      296  74
Centro   252  48

- a) ¿Qué metodo cree que se utilizo para asignar probabilidades?.

In [11]:
# metodo frecuentista

- b) Construya un cuadro similar, pero con la asignación de probabilidades.

In [12]:
df_porcentual = round(df * 100 / (sum(df.sum())), 2)
# print((df.sum()))
# print((sum(df.sum())))

df_porcentual.loc["Total"] = sum(df_porcentual["Si"]), sum(df_porcentual["No"])

df_porcentual["todos"] = df_porcentual["Si"] + df_porcentual["No"]
df_porcentual

            Si     No   todos
Norte    13.63   4.79   18.42
Noreste  14.92   4.97   19.89
Sur      27.26   6.81   34.07
Centro   23.20   4.42   27.62
Total    79.01  20.99  100.00

- c) ¿Cuál sería el mejor método pára estimar la probabilidad de que en Estados Unidos un conductor lleve puesto el cinturón?.

- d) Un año antes, la probabilidad en Argentina de que un conductor llevara puesto el cinturón era 0.75. El director de ANSV, se esperaba que la probabilidad llegara a 0.78. ¿Estará satisfecho con los resultados del estudio?

In [13]:
# si esta feliz porque 79>78

- e) ¿Cuál es la probabilidad de que se use el cinturón en las distintas regiones del país? ¿En qué región se usa más el cinturón?(Utilizar misma tabla que el ejercicio anterior).

In [14]:
df_porcentual["Si"], df_porcentual["No"] = round(
    100 * df_porcentual["Si"] / df_porcentual["todos"], 2
), round(100 * df_porcentual["No"] / df_porcentual["todos"], 2)
df_porcentual

            Si     No   todos
Norte    74.00  26.00   18.42
Noreste  75.01  24.99   19.89
Sur      80.01  19.99   34.07
Centro   84.00  16.00   27.62
Total    79.01  20.99  100.00

In [15]:
df_porcentual.drop("todos", axis=1)

            Si     No
Norte    74.00  26.00
Noreste  75.01  24.99
Sur      80.01  19.99
Centro   84.00  16.00
Total    79.01  20.99

In [16]:
import pandas as pd

regiones = pd.Series(["Norte", "Noreste", "Sur", "Centro"])
val_si = {"si": [148, 162, 296, 252]}
val_no = {"no": [52, 54, 74, 48]}
cuadro = pd.DataFrame({**val_si, **val_no}).set_index(regiones)


def porc(row, col):
    return row[col] / row["total"]


cuadro["total"] = cuadro.sum(axis=1)
cuadro["porcentaje SI"] = cuadro.apply(porc, args=("si",), axis=1)
cuadro["porcentaje NO"] = cuadro.apply(porc, args=("no",), axis=1)

cuadro

          si  no  total  porcentaje SI  porcentaje NO
Norte    148  52    200           0.74           0.26
Noreste  162  54    216           0.75           0.25
Sur      296  74    370           0.80           0.20
Centro   252  48    300           0.84           0.16

4. Crear una funcion que permita calcular a probabilidad de los siguientes eventos en un baraja de 52 cartas.<br>
- Obtener una carta roja.<br>
- Obtener una carta negra.<br>
- Obtener una pica.<br>
- Obtener un trébol.<br>
- Obtener un corazón.<br>
- Obtener un diamante.<br>

In [17]:
def naipes(cp):
    probabilidad = cp * 100 / 52
    return round(probabilidad, 2)


print(f"la probabilidad es: {naipes(26)} porciento")
print(f"la probabilidad es: {naipes(26)} porciento")
print(f"la probabilidad es: {naipes(13)} porciento")
print(f"la probabilidad es: {naipes(13)} porciento")

la probabilidad es: 50.0 porciento
la probabilidad es: 50.0 porciento
la probabilidad es: 25.0 porciento
la probabilidad es: 25.0 porciento

5. La probabilidad de que salga un 7 o un 8 al seleccionar una carta de una baraja de las 52 cartas que contiene el mazo.

In [18]:
print(f"la probabilidad es: {naipes(4+4)} porciento")

la probabilidad es: 15.38 porciento

6. La probabilidad de tu país gane el mundial de fútbol.

$P(A) = \frac{CF}{RP}$

In [19]:
cf, rp = 1, 32
p = cf/rp
print(p)

0.03125

7. Un experimento que tiene tres resultados es repetido 50 veces y se ve que E1 aparece 20 veces, E2 13 veces y E3 17 veces. Asigne probabilidades a los resultados.

In [21]:
datos = {'tipo': ['E1', 'E2', 'E3'], 'frequencia': [20, 13, 17]}
df = pd.DataFrame(datos)
df['probabilidad'] = df['frequencia']/df['frequencia'].sum()
df

  tipo  frequencia  probabilidad
0   E1          20          0.40
1   E2          13          0.26
2   E3          17          0.34

## Desafíos complementarios 

### Investiga e intenta resolver los siguientes ejercicios

1. Si la probabilidad de que un cliente pague en efectivo (E) es 6/15, con tarjeta de crédito (TD) es 7/15 y con tarjeta de débito (TD) es 2/15. Hallar la probabilidad de que dos clientes sucesivos que pagan sus cuentas lo hagan:<br>
 a) el primero en efectivo y el segundo con tarjeta de crédito.<br>
 b) Los dos clientes en efectivo<br>

$ P(A \cap B) = P(A) * P(B) $

In [30]:
e, tc, td = 6/15, 7/15, 2/15
# a)
print("probabilidad(1º efectivo y 2º TC) :", round(e*tc, 4))
# b)
print("probabilidad(1º efectivo y 2º efectivo) :", round(e*e, 4))

probabilidad(1º efectivo y 2º TC) : 0.1867
probabilidad(1º efectivo y 2º efectivo) : 0.16

2. La probabilidad de que un Henry repruebe el M1 de 0.8, de que apruebe M2 es 0.5 y de que repruebe el M3 es de 0.4.<br>
 (Los eventos no interfieren entre si) <br>

![Tabla](../_src/assets/probhenry.PNG)

Determinar la probabilidad de que:<br>
 a) Apruebe un módulo.<br>
 b) Repruebe las tres materias.

In [32]:
# probabilidad de aprobar
m1 = 0.2
m2 = 0.5
m3 = 0.6
print("probabilidad(apruebe solo un módulo) :", round(
    (m1)*(1-m2)*(1-m3)+(1-m1)*(m2)*(1-m3)+(1-m1)*(1-m2)*(m3), 4))
print("probabilidad(desaprobar todos) :", round((1-m1)*(1-m2)*(1-m3), 4))

probabilidad(apruebe solo un módulo) : 0.44
probabilidad(desaprobar todos) : 0.16

### Problema 1: Espacio Muestral y Reglas de Conteo 
  
En un juego de cartas, tienes un mazo de 52 cartas. ¿Cuál es el espacio muestral cuando se 
extraen tres cartas al azar, sin reemplazo? ¿Y si se extrajeran con reemplazo?

In [33]:
comb(52, 3)

22100.0

$C(m, n) = \frac{m!}{n!(m-n)!}$

In [34]:
m = 52
n = 3
factorial(m) / (factorial(m - n) * factorial(n))

22100.0

In [35]:
comb(52, 3, repetition=True)

24804.0

$CR(m, n) = \frac{(m+n-1)!}{n!(m-1)!}$

In [36]:
factorial(m + n - 1) / (factorial(m - 1) * factorial(n))

24804.0

### Problema 2: Combinaciones y Permutaciones 
  
Tienes 8 amigos y solo puedes invitar a 4 de ellos a una fiesta. ¿De cuántas formas diferentes 
puedes seleccionar a los invitados?

In [110]:
comb(8, 4)

70.0

In [111]:
m = 8
n = 4
factorial(m) / (factorial(m - n) * factorial(n))

70.0

In [112]:
8 * 7 * 6 * 5 / (4 * 3 * 2)

70.0

### Problema 3: Interpretaciones de la Probabilidad 
  
Un dado justo de seis caras se lanza. Calcula la probabilidad de que: <br>
a) Salga un número par. <br>
b) Salga un número menor que 3. <br>
c) Salga un número impar o mayor que 4.

In [113]:
print(1 / 6)
print(2 / 6)
print((3 + 1) / 6)

0.16666666666666666
0.3333333333333333
0.6666666666666666

### Problema 4: Corriente Subjetivista y Bayesiana 
  
Supongamos que tienes un juego de dos monedas: una justa y otra cargada, que cae en cara el 
70% del tiempo. Si eliges una moneda al azar y lanzas dos veces, y sale cara en ambos 
lanzamientos, ¿cuál es la probabilidad de que hayas elegido la moneda cargada?

In [114]:
# moneda comun:
print(1 / 2 * 1 / 2)
# moneda cargada:
print(0.7 * 0.7)
CP = 49
CT = 49 + 25
P = CP / CT
print(round(100 * P, 2), "%")

0.25
0.48999999999999994
66.22 %

### Problema 5: Diferencia entre Estadística y Probabilidad 
  
Un jugador tiene dos dados, lanza los dos dados a la vez y suma el resultado obtenido de los 
dados lanzados, ¿cuál es la suma resultante más probable al momento de lanzar los dos 
dados?

In [132]:
dos_dados = []
for d1 in range(1, 7):
    for d2 in range(1, 7):
        dos_dados.append(d1 + d2)
valores = set(dos_dados)
valores = list(valores)
freq = [dos_dados.count(valor) for valor in valores]
freq
dic_dados = {"valor": valores, "freq": freq}
df = pd.DataFrame(dic_dados)
df['porc.'] = round(100*df['freq']/df['freq'].sum(), 2)
df.set_index('valor')

       freq  porc.
valor
2         1   2.78
3         2   5.56
4         3   8.33
5         4  11.11
6         5  13.89
7         6  16.67
8         5  13.89
9         4  11.11
10        3   8.33
11        2   5.56
12        1   2.78

Dado un mazo de cartas de la baraja francesa, conocida como de poker, ¿Cuál es la 
probabilidad de sacar dos cartas rojas si no se hace una reposición de la carta luego de sacar la 
primera? *La baraja francesa es un conjunto de naipes o cartas, formado por 52 unidades 
repartidas en cuatro palos: corazones, diamantes, tréboles y picas. No tienen comodines.

In [198]:
print(round(100*26/52*25/51, 2), "%")

24.51 %

Se tienen 4 canicas blancas y 4 canicas negras dentro de un frasco, luego de manera aleatoria 
se sacan dos canicas, una detrás de la otra. ¿Cuál es la probabilidad de que ambas sean de un 
mismo color?

In [202]:
cb = 4
cn = 4
p = (cb)/(cb+cn)*(cb-1)/(cb+cn-1)+(cn)/(cb+cn)*(cn-1)/(cb+cn-1)
p

0.42857142857142855

In [201]:
3 / 7

0.42857142857142855