In [1]:
from scipy.special import comb
from scipy.special import perm
from math import factorial
import pandas as pd

## Homework

Utilizando Python cálcular las siguientes probabilidades. Para cada uno intenta determinar que método aplicaste.<br>

1. Lanza una moneda al aire 10 veces, ¿cuantos resultados posibles forman parte del espacio muestral?.

In [2]:
2**10

1024

In [3]:
int(comb(2,1)**10)

1024

2. En un aeropuerto se tiene a 10 pasajeros esperando en la sala de preembarque, la polícia debe controlar a 3 de ellos. ¿Cuantas combinaciones posibles se pueden obtener?.

In [4]:
comb(10,3)

120.0

In [5]:
#Combinaciones de 10 tomadas de a 3
m=10
n=3
factorial(m)/(factorial(m-n)*factorial(n))

120.0

3. La Agencia Nacional de Seguridad Vial realizó una investigación para saber si los conductores de están usando sus cinturones de seguridad. Los datos muestrales fueron los siguientes:<br>
Conductores que emplean el cinturón

![Ejercicio](../_src/assets/ejercicio3.PNG)

In [6]:
region=['Norte', 'Noreste', 'Sur', 'Centro']
si=[148,162,296,252]
no=[52,54,74,48]


dicc={'Si': si, 'No': no}
df=pd.DataFrame(dicc, index=region)
df

          Si  No
Norte    148  52
Noreste  162  54
Sur      296  74
Centro   252  48

- a) ¿Qué metodo cree que se utilizo para asignar probabilidades?.

In [7]:
# metodo frecuentista

- b) Construya un cuadro similar, pero con la asignación de probabilidades.

In [8]:

df_porcentual = round(df*100 / (sum(df.sum())),2)
# print((df.sum()))
# print((sum(df.sum())))

df_porcentual.loc['Total'] = sum(df_porcentual['Si']), sum(df_porcentual['No'])

df_porcentual['todos']=df_porcentual['Si'] + df_porcentual['No']
df_porcentual

            Si     No   todos
Norte    13.63   4.79   18.42
Noreste  14.92   4.97   19.89
Sur      27.26   6.81   34.07
Centro   23.20   4.42   27.62
Total    79.01  20.99  100.00

- c) ¿Cuál sería el mejor método pára estimar la probabilidad de que en Estados Unidos un conductor lleve puesto el cinturón?.

- e) ¿Cuál es la probabilidad de que se use el cinturón en las distintas regiones del país? ¿En qué región se usa más el cinturón?(Utilizar misma tabla que el ejercicio anterior).

In [132]:
df['Si'], df['No'] = round(100*df['Si']/df['todos'],2), round(100*df['No']/df['todos'],2)
df

            Si     No   todos
Norte    74.00  26.00   18.42
Noreste  75.01  24.99   19.89
Sur      80.01  19.99   34.07
Centro   84.00  16.00   27.62
Total    79.01  20.99  100.00